input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.descriptionList{
    background-color: rgb(222, 231, 229);
    padding: 10px;
    border-radius: 5px;
}
.desc-item{
    background-color: rgb(177, 145, 145);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color:rgb(12, 12, 12);
}
.imagePreview{
    border: 1px dashed red;
    border-radius: 5px;
    padding: 3px;
    height:50vh;
    aspect-ratio: 1/1;
    max-width: 90vw;
    background-size: contain;
    /* filter: drop-shadow(14px 0px 8px rgba(0, 0, 0, 0.5)); */
    background-position: center;
    background-repeat: no-repeat;
}
label{
    font-weight: bold;
    color: rgb(68, 63, 63);
}
.dropdown-item:hover{
    background-color: rgb(177, 145, 145);
}
.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.dropdown-toggle{
    min-width:100%;
    text-align: left;
    justify-content: space-between;
}