.Login{
    background-image: linear-gradient(to right, #66a7e9, #eb3d4b);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.login-right{
    background-image: url('https://i.postimg.cc/RZPy4Q9T/Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(14px 0px 8px rgba(0, 0, 0, 0.5));
}
.login-left{
}